<html>
<head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script type="text/javascript">
    google.load("visualization", "1.1", {packages:["corechart"]});

    function drawChart(d) {
        var data = new google.visualization.DataTable();
        data.addColumn('datetime',  'Time');
        data.addColumn('number',    'Cash buy');
        data.addColumn('number',    'Cash sell');
        data.addColumn('number',    'Spot sell');
        data.addColumn('number',    'Spot buy');
        for(var i in d.quotes) {
            data.addRow([new Date(new Date(d.quotes[i][0])), d.quotes[i][1], d.quotes[i][2],
                    d.quotes[i][3], d.quotes[i][4]]);
        }

        var options = {
            width: 900,
            height: 500,
            pointSize: 5,
            pointShape: { type: 'oval', sides: 4 }
        };
        var chart = new google.visualization.LineChart(document.getElementById('linechart_material'));
        chart.draw(data, options);
    }
</script>

<script type="text/javascript">
    $(function() {
        $("#start_date").datepicker();
        $("#end_date").datepicker();
        $("#start_date").datepicker("option", "dateFormat", "yymmdd");
        $("#end_date").datepicker("option", "dateFormat", "yymmdd");
        $("#start_date").datepicker("setDate", new Date());
        $("#end_date").datepicker("setDate", new Date());

        $('a#get_quote').bind('click', function() {

            $.getJSON($SCRIPT_ROOT + '/rate/v1.0/BOT', {
                currency:   $( "#currency" ).val(),
                start_date: $( "#start_date" ).val(),
                end_date:   $( "#end_date" ).val()
            }, function(data) {
                drawChart(data);
            });
            return false;
        });
        });
</script>

</head>
<body>
<div>
<p>
Currency:
<select id="currency">
    <option>EUR</option>
    <option selected="selected">USD</option>
    <option>AUD</option>
    <option>CHF</option>
    <option>SEK</option>
    <option>MYR</option>
    <option>KRW</option>
    <option>THB</option>
    <option>JPY</option>
    <option>VND</option>
    <option>GBP</option>
    <option>NZD</option>
    <option>CNY</option>
    <option>PHP</option>
    <option>ZAR</option>
    <option>SGD</option>
    <option>HKD</option>
    <option>CAD</option>
</select>
Start Date: <input type="text" size="10" id="start_date" value="12/14/2015">
End Date:   <input type="text" size="10" id="end_date"   value="12/14/2015">
<a href="#" id="get_quote">Get quote</a>
<p>
</div>

<div id="linechart_material"></div>

</body>
</html>
