<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.5/clipboard.min.js" async></script>
</head>
<body>
    <div class="container">
        <div class="pull-right">
            {% if user %}
            <script type="text/javascript">
                document.write('{{ user.nickname }}'+'(<a class="login-link" href="{{url}}">logout</a>)');
            </script>
            {% else %}
            <a class="login-link" href="{{url}}">login</a>
            {% endif %}
        </div>
        <div class="row form-inline">
            <label for="currency">Currency:</label>
            <select class="form-control" id="currency">
                <option>EUR</option>
                <option selected="selected">USD</option>
                <option>AUD</option>
                <option>CHF</option>
                <option>SEK</option>
                <option>MYR</option>
                <option>KRW</option>
                <option>THB</option>
                <option>JPY</option>
                <option>VND</option>
                <option>GBP</option>
                <option>NZD</option>
                <option>CNY</option>
                <option>PHP</option>
                <option>ZAR</option>
                <option>SGD</option>
                <option>HKD</option>
                <option>CAD</option>
            </select>
        </div>
        <div class="row checkbox">
            <label><input type="checkbox" name="multiday" id="multiday" value="">Multi days</label>
            <input type="text" name="daterange" id="daterange" />
            <button type="button" class="btn btn-default" id="bt_quote">Quote!</button>
            <script type="text/javascript">
                {% if query %}
                function qry() {
                    try {
                        $("#currency").val("{{query.currency}}");
                        var pattern = /(\d{4})(\d{2})(\d{2})/;
                        start_date = moment(Date.parse("{{query.start_date}}".replace(pattern, '$1/$2/$3')));
                        end_date = moment(Date.parse("{{query.end_date}}".replace(pattern, '$1/$2/$3')));
                        getData(start_date, end_date, null);
                    } catch (err) {
                        console.error(err);
                    }
                }
                google.load("visualization", "1.1", {packages:["corechart"], callback: qry});
                {% else %}
                google.load("visualization", "1.1", {packages:["corechart"]});
                {% endif %}

                var quote_data = null;

                function drawChart(d, sameday) {
                    var data = new google.visualization.DataTable();
                    data.addColumn('datetime',  'Time');
                    data.addColumn('number',    '現金買入');
                    data.addColumn('number',    '現金賣出');
                    data.addColumn('number',    '即期買入');
                    data.addColumn('number',    '即期賣出');
                    for(var i in d.quotes) {
                        data.addRow([new Date(new Date(d.quotes[i][0])), d.quotes[i][1], d.quotes[i][2],
                                d.quotes[i][3], d.quotes[i][4]]);
                    }
                    var options = {
                        'title': $("#currency").val()+' versus TWD',
                        'width': $(window).width(),
                        'height': 500,
                        'pointSize': 5,
                        'pointShape': {'type': 'oval', 'sides': 4},
                        'chartArea': {'left': 50}
                    };
                    if (sameday) {
                        options['hAxis'] = { format:"MM/dd/yy" };
                    }

                    var chart_div = document.getElementById('linechart');
                    var chart = new google.visualization.LineChart(chart_div);

                    // Wait for the chart to finish drawing before calling the getImageURI() method.
                    google.visualization.events.addListener(chart, 'ready', function () {
                        document.getElementById('png').innerHTML = '<a href="'+chart.getImageURI()+'">printable version</a>';
                    });
                    chart.draw(data, options);
                };

                function getData(start, end, label) {
                    //console.log("start - end: " + start + ' - ' + end);
                    $.getJSON('/rate/v1.0/BOT', {
                        currency:   $( "#currency" ).val(),
                        start_date: start.format("YYYYMMDD"),
                        end_date:   end.format("YYYYMMDD"),
                    }, function(data) {
                        sameday = $("#start_date").val() != $("#end_date").val();
                        quote_data = data; // assigned to global varaible for redraw when resizing
                        $("#btn_copy").attr("data-clipboard-text",
                            window.location.origin+'/?start='+start.format("YYYYMMDD")
                            +'&end='+end.format("YYYYMMDD")+'&currency='+$("#currency").val());
                        if ($("#link_block").is(":visible") == false) {
                            var clipboard = new Clipboard('#btn_copy');
                            $("#link_block").show();
                        }
                        drawChart(data, sameday);
                    });
                    return false;
                };

                $("#bt_quote").click(function() {
                    multi = $("#multiday").is(":checked");
                    dates = $("#daterange").val().match(/[0-9]{2}\/[0-9]{2}\/[0-9]{4}/g);
                    start_date = moment(Date.parse(dates[0]));
                    if (multi == false) {
                        getData(start_date, start_date, null);
                    } else {
                        end_date = moment(Date.parse(dates[1]));
                        getData(start_date, end_date, null);
                    }
                });

                $(function() {
                    var opts = {
                        "startDate": moment().startOf('day'),
                        "singleDatePicker": true
                    };
                    $('#multiday').change(function(){
                        if (this.checked) {
                            opts.singleDatePicker = false;
                            opts.startDate = moment().subtract(5,'days').startOf('day');
                            opts.endDate = moment().startOf('day');
                        } else {
                            opts.singleDatePicker = true;
                            opts.startDate = moment().startOf('day');
                        }
                        $('#daterange').daterangepicker(opts, getData);

                    });
                    $('#daterange').daterangepicker(opts, getData);
                });

                function resize() {
                    if (quote_data != null && sameday != null) {
                        drawChart(quote_data, sameday);
                    }
                }
                window.onresize = resize;

            </script>
        </div>
        <div class="row">
            <div id="linechart"></div>
            <div id="link_block">
                <!-- Trigger -->
                <span>
                <button class="btn btn-default" id="btn_copy" title="Copied!" data-clipboard-text="NA">
                    Copy link of quote
                </button>
                <div id="png"></div>
                <!-- Instantiate clipboard by passing a string selector -->
                <script>
                    $("#link_block").hide();
                </script>
            </div>
        </div>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-73386121-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
